<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>Create Article</div>
                    <div class='card-body'>
                        <div class="alert alert-danger" v-if="errors.length">
                            <b>Terdapat kesalahan dalam input data:</b>
                            <ul>
                                <li v-for="error in errors" :key="error">{{ error }}</li>
                            </ul>
                        </div>

                        <form @submit.prevent="createArticle">
                            <div class='form-group'>
                                <label htmlFor='nama'>nama</label>
                                <input type="text" class="form-control" id="nama" v-model="data.nama">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='pekerjaan'>pekerjaan</label>
                                <input type="text" class="form-control" id="pekerjaan" v-model="data.pekerjaan" rows="5">
                            </div>
                             <div class='form-group'>
                                <label htmlFor='tanggallahir'>tanggal lahir</label>
                                <input type="date" class="form-control" id="tanggallahir" v-model="data.tanggallahir">
                            </div>
                            <div class='form-group'>
                                <router-link :to="{ name: 'home' }" class="btn btn-secondary">Back</router-link>
                                &nbsp;
                                &nbsp;
                                <button class='btn btn-primary'>Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                data:{},
                errors: [],
                nama: null,
                pekerjaan: null,
                tanggallahir: null,
            }
        },
        methods: {
            createArticle(e){
                
                if (this.$data.data.nama != null && this.$data.data.pekerjaan != null && this.$data.data.tanggallahir != null) {
                    this.$swal.fire({
                        nama: 'Success',
                        text: "data created successfully",
                        icon: 'success',
                        timer: 1000,
                        
                    })
                    
                    let uri = '/api/article/store';
                    this.axios.post(uri, this.data).then((response) => {
                        
                        this.$router.push({name: 'home'});
                    });
                    return true;
                }

                this.errors = [];

                if (!this.nama) {
                    this.errors.push('nama wajib diisi !');
                }
                if (!this.pekerjaan) {
                    this.errors.push('pekerjaan wajib diisi !');
                }
                if (!this.tanggallahir) {
                    this.errors.push('tanggal wajib di isi');
                }

                e.preventDefault();
            }
        }
    }
</script>