<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-md-8'>
            <div class='card'>
                <div class='card-header'>All Article</div>
                <div class='card-body'>
                    <router-link :to="{ name: 'create' }" class="btn btn-primary">Create new article</router-link>
                    <br/>
                    <br/>
                    <div class="table-responsive">
                    <div class="container">
      <input type="text" id="search" class="form-control my-3 search-input" placeholder="  live search"></input>
  </div>
                        <table class="table table-bordered">
                            
                                <tr>
                                    <th width="50" class="text-center">No</th>
                                    <th>Title</th>
                                    <th>keterangan</th>
                                    <th width="200" class="text-center">Action</th>
                                </tr>
                            
                            
                                <tr v-for="(article, index) in articles" :key="article.id">

                                    <td width="50" class="text-center">{{ index + 1 }}</td>
                                    <td>{{ article.nama }}</td>
                                    <td>{{ article.date }}</td>
                                    <td width="200" class="text-center">
                                        <div class="btn-group">
                                            <router-link :to="{name: 'show', params: { id: article.id }}" class="btn btn-primary">Detail</router-link>
                                            <router-link :to="{name: 'edit', params: { id: article.id }}" class="btn btn-success">Edit</router-link>
                                            <button class="btn btn-danger" @click = "deletePost(article.id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                           
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</template>

<script type="text/javascript">
      
   </script>
 
<script>
  export default {
      data() {
        return {
          articles: []
        }
      },
      created() {
        let uri = 'api/articles';
        this.axios.get(uri).then(response => {
            this.articles = response.data;

            $("#search").keyup(function () {
    var value = this.value.toLowerCase().trim();

    $("table tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            var id = $(this).text().toLowerCase().trim();
            var not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});
        });
    },
    methods: {
        deletePost(id)
        {
            this.$swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Hapus Deh',
                cancelButtonText: 'Nggak Jadi'
                }).then((result) => {
                if (result.value) {
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'Article deleted successfully',
                        icon: 'success',
                        timer: 1000
                    });
                    let uri = `api/article/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.articles.splice(this.articles.indexOf(id), 1);
                    });
                    console.log("Deleted article with id ..." +id);
                }
            })
        }
    }
  }
</script>